* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('https://image.freepik.com/vetores-gratis/mapa-do-mundo-com-fundo-azul-tecnologia-abstrata_39608-30.jpg'); 
  background-size: auto 100vh;  
  font-family: "roboto";
  height: 100vh;
  color: white;
  font-size: 15px;
  padding: 2em;
  
  }
/* se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
body {
  font-size: 18px;
}
  }

  @media (min-width: 600px) {
    body {
      font-size: 20px;
    }
      }
              
  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
      }

   .menu{
    background-color: whitesmoke; 
    position: fixed;
    width: 100vw; 
    top: 0;
    z-index: 1;
  
    
    }

.titulo {
  transform: scale(0.2) translateY(50vh); 
  opacity: 2;
  animation: 500ms linear 500ms animacaotitulo forwards; 
}

@keyframes animacaotitulo {
  100% {
  transform: scale(1) translateY(0); 
  opacity: 1;
  }
}


.menu a {
color: blue;
padding: 10px 20px;
display: block;
transition: background-color 1s, color 1s;
}

.menu a:hover {
   background-color: black
  }

.menu li{
  list-style: none;
  
  }

.menu ul {
  display: flex;
    justify-content: space-around;
 }

a {
   text-decoration: none;
 }

a:hover {
  text-decoration: underline;
  color: blueviolet
  
}
.site-subtitle, 
.site-title {
   color: whitesmoke; 
   text-align: center;
    }

  .site-title {
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    line-height: 1,8em;
     }
 
      
.site-subtitle {
  font-family: 'Permanent Marker', cursive;
}

.img-portfolio {
  height: 180px;
  width: 270px; 
  object-fit: left;
  border-radius: 15px;
 transition: transform 500ms;
  }

 .img-portfolio:hover {
 transform: scale(1.07);
 }   

    
.Portfolio {
  padding: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1,5em;
  text-align: center;
      }

  .Portfolio .grid {
gap: 1.5em;
display: grid;
 }
  
 @media (min-width: 640px){
  .Portfolio .grid {
grid-template-columns: 260px 260px;
 }
}

@media (min-width: 960px){
  .Portfolio .grid {
grid-template-columns: 260px 260px 260px;
justify-content: center;
align-content: center;
 }
}

.Portfolio figure{
  text-align: center;
    }
   
    
.contato {
  padding: 1.5em;
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 1,5em;
      }
    
.contato a {
  color: whitesmoke;
  font-size: 4.5em;
  transition: text-shadow 1s;
    }

.contato a:active,    
.contato a:hover {
      text-decoration: none;
      text-shadow: 0px 0px 8px limegreen;
    }
       
    .sobre {
      padding: 2em;
      min-:100vh;
      font-family: roboto;
      text-align: justify;
      margin-bottom: 1.4em;
      
    }
    .sobre h2 {
      font-family: roboto;
      color: whitesmoke;
      margin-bottom: 1,5em;
      font-size: 2m;
      border-radius: 15px;
    }

    @media (min-width: 1200px) {
      .sobre,
      .contato,
      .portfolio {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .perfil {
      border-radius: 15px;  
      clip-path: polygon(0% 0%, 100% 0%, 100% 86%, 54% 89%, 75% 100%, 32% 89%, 0 82%);
            }
      .perfil:hover {
        transform: scale(1.03);
         
      }
